@import url("normalize.css");

body {
    width: 800px;
    margin: 0 auto;
    font-weight: 200;
    color: #333333;
}

h1 {
    margin: 0;
    color: #999999;
    font-size: 30px;
    line-height: 80px;
    border-bottom: 2px solid #eeeeee;
}
h1 b {
    color: #333333;
}
h2 {
    margin: 0;
    font-size: 40px;
    line-height: 80px;
}
h3 {
    margin: 0 0 10px 0;
    font-size: 20px;
    line-height: 50px;
}

.header {
    width: 100%;
}
.header div {
    margin-top: 20px;
    font-size: 17px;
    line-height: 25px;
    padding: 0 70px 50px 70px;
    background-color: #eeeeee;
    border-radius: 3px;
}

.content section {
    margin: 30px 0 0 0;
    overflow: hidden;
}
.content-work ul {
    margin: 0 0 10px;
    padding: 0 0 175px 0;
    list-style-type: none;
}
.content-work li {
    float: left;
    margin-right: 3%;
    box-sizing: border-box;
    padding: 10px;
    line-height: 15px;
    width: 31.33333%;
    font-size: 11px;
    border: 1px solid #eeeeee;
}
.content-work li:last-child {
    margin: 0;
}
.content-work li img {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 0 30px;
}
.content section p {
    margin: 0;
    padding: 50px 70px;
    font-size: 17px;
    line-height: 25px;
    background-color: #eeeeee;
    border-radius: 3px;
}

.content-testimonial blocquote {
    display: block;
    margin-top: 15px;
    padding-left: 25px;
    line-height: 24px;
    font-size: 12px;
    border-left: 5px solid #eeeeee;
    vertical-align: bottom;
}
.content-testimonial q {
    font-size: 15px;
    font-weight: bold;
    vertical-align: top;
}
.content-testimonial q::before {
    content: '“';
}
.content-testimonial q::after {
    content: '”';
}

