@import url("normalize.css");

h2 {
	font-size: 20px;
	text-align: center;
}

header#page-title {
	font-size: 50px;
	text-align: center;
	padding: 0 35%;
	height: 100px;
	line-height: 100px;
	background-color: grey;
	text-align: center;
}
header#page-title img {
	float: left;
	margin-top: 25px;
	height: 50px;
	width: 50px;
}

nav {
	background-color: lightslategrey;
}
nav ul {
	list-style-type: none;
	text-align: center;
	margin: 0;
	padding: 0;
}
nav ul li {
	width: 33%;
	display: inline-block;
}

main {
	position: relative;
	background: linear-gradient(to left, slategrey 33%, white 33%);
	min-height: 500px;
	overflow: hidden;
}
main article {
	float: left;
	display: inline-block;
	width: 67%;
}
main article header {
	text-align: center;
	height: 30px;
	line-height: 30px;
}
main article img {
	float: left;
	height: 200px;
}
main aside {
	display: inline-block;
	width: 33%;
	float: right;
}
main aside header {
	background-color: lightgrey;
	text-align: center;
	height: 30px;
	line-height: 30px;
}
main aside form {
	width: 80%;
	margin: 0 10%;
}
main aside form label {
	margin: 5px 0;
	width: 100%;
}
main aside form input {
	width: 100%;
}
main aside form button {
	margin: 10px;
	float: right;
}

footer {
	padding: 0 25%;
	height: 50px;
	line-height: 50px;
	background-color: grey;
	text-align: center;
	clear: both;
}
footer img {
	display: inline-block;
	height: 15px;
}